<nav class="navbar navbar-expand-lg" style="background-color: #FFF8F1; border-bottom: 5px solid #F8405E; border-bottom-right-radius: 100px;">
    <!-- <a class="navbar-brand" href="#">Estudos de Node.JS</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style=" font-family: Poetsen One, sans-serif;">
        <li class="nav-item active">
          <img src="/public/images/logo.png" alt="Descrição" width="100px"/>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pedidos">Pedidos</a>
        </li>
      </ul>
    </div>
  </nav>